@media print {
        div.DoNotPrint {
            display: none;
        }
        
        .DoNotPrint {
            display: none !important;
        }
        
        input.noborder {
            border: 0px;
            background: transparent;
        }
        
        textarea.noborder {
            scrollbar-3dlight-color: transparent;
            scrollbar-3dlight-color: transparent;
            scrollbar-arrow-color: transparent;
            scrollbar-base-color: transparent;
            scrollbar-darkshadow-color: transparent;
            scrollbar-face-color: transparent;
            scrollbar-highlight-color: transparent;
            scrollbar-shadow-color: transparent;
            scrollbar-track-color: transparent;
            background: transparent;
            overflow: hidden;
            //scrollbar : none;
            border: 0px;
        }
	}

@media screen, print {
           #topbar {
            position:absolute;
            left: 860px;
            top: 180px;
            width: 390px;
            border: 1px solid black;
            padding: 2px;
            background-color: #CEE7EE;
            z-index: 100;
            font-size: 14;
        }

        input.noborder {
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            background: transparent;
        }
		      
        textarea.noborder {
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            background: transparent;
        }

        input[type=button]:hover {color:red;}
        
        br {font-size: 30%;}
		 
		.blue {color:blue;}
		
		.black {color:black;}
		
		.color {font-weight: bold;}
		
		.hidden {display: none;}
	}	